.overlay{height: 0px;transition: 0.3s cubic-bezier(0.1, 0.5, 1.0, 0.7);opacity: 0;}
.our_team_box:hover{cursor: pointer;}
.our_team_box:hover .overlay{height: 100px;opacity: 0.5;}
.expert_social_links{position: absolute;width: 100%;left: 0;bottom: -70px;display: flex;justify-content: center;gap: 36px;padding: 20px;transition: 0.3s ease-out;transition-delay: 0.3s;}
.our_team_box:hover .expert_social_links{bottom: -5px;}

